*.class

# Package Files #
*.jar
*.war
*.ear
/.settings
/.classpath
/.project

target/classes/META-INF/maven/Painter/Painter/pom.properties

target/classes/META-INF/maven/Painter/Painter/pom.properties
