*.class

# Package Files #
*.jar
*.war
*.ear
/.settings
/.classpath
/.project

target/

target/classes/META-INF/maven/Painter/Painter/pom.xml

target/classes/META-INF/maven/Painter/Painter/pom.properties
